*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background: #c2c9d6;
}

main {
  margin: 0 auto;
  width: 85%;
  height: auto;
}

@media (max-width: 800px) {
  main {
    width: 90%;
  }
}

main .title {
  font-family: "Abril Fatface", cursive;
  text-align: center;
  font-size: 4.5rem;
  color: #341F68;
  line-height: 2;
  padding: 0;
  margin: 0;
  padding-top: 2.5rem;
  text-transform: lowercase;
  letter-spacing: 1px;
}

@media (max-width: 800px) {
  main .title {
    font-size: 3.5rem;
  }
}

.search-wrapper {
  margin: 0 auto;
  width: 50%;
  height: auto;
  -webkit-box-shadow: 5px 5px 10px 5px rgba(17, 11, 17, 0.15);
          box-shadow: 5px 5px 10px 5px rgba(17, 11, 17, 0.15);
}

@media (max-width: 800px) {
  .search-wrapper {
    width: 80%;
  }
}

.search-wrapper .search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F5F5F5;
  border-radius: 0.3rem;
  overflow: hidden;
  margin-bottom: 5rem;
}

.search-wrapper .search-form .bookinput {
  background: #F5F5F5;
  font-family: "Open Sans", sans-serif;
  width: 85%;
  margin: .5rem .75rem;
  padding: 1.3rem;
  font-size: 1.25rem;
  border: none;
}

.search-wrapper .search-form .booksearch {
  cursor: pointer;
  background: #F5F5F5;
  border: none;
  padding: 1rem 0.5rem;
  width: 15%;
  font-size: 1.5rem;
}

.search-wrapper .search-form .booksearch svg {
  min-width: 24px;
  max-width: 32px;
}

.display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  height: 100%;
  margin: 0 auto;
  max-width: 1024px;
}

@media (max-width: 800px) {
  .display {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
}

.display .placement-text {
  font-family: "Abril Fatface", cursive;
  width: 100%;
  text-align: center;
  font-size: 3rem;
  color: rgba(52, 31, 104, 0.5);
  text-shadow: 2px 2px 4px #F5F5F5;
}

.display .book__hold {
  position: relative;
  width: 40%;
  background: #F5F5F5;
  padding: 0 1.25rem;
  margin: 2% 2.5% 2% 5%;
  border-radius: 8px;
  -webkit-box-shadow: 2px 3px 6px rgba(17, 11, 17, 0.3);
          box-shadow: 2px 3px 6px rgba(17, 11, 17, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 800px) {
  .display .book__hold {
    width: 80%;
    margin: 5% 10%;
  }
}

.display .book__hold h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 1.75rem;
  padding: 1rem;
  margin: 1rem 0;
  line-height: 1.5;
  font-weight: 700;
  color: #110B11;
  text-align: left;
  border: 1px solid #5858587a;
}

.display .book__hold .book__info {
  margin-bottom: 2.5rem;
}

.display .book__hold .book__info .book__image {
  width: 40%;
  float: left;
  border: 1px solid rgba(17, 11, 17, 0.3);
  -webkit-box-shadow: 7px 7px 14px 0px rgba(17, 11, 17, 0.2);
          box-shadow: 7px 7px 14px 0px rgba(17, 11, 17, 0.2);
}

.display .book__hold .book__info .book__details {
  width: 54%;
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Open Sans", sans-serif;
}

.display .book__hold .book__info .book__details p {
  color: #3f293f;
  font-size: 0.95rem;
  font-weight: 400;
  margin: 0;
  padding: 0.25rem 0;
  padding-left: 0.25rem;
  line-height: 1.15;
}

.display .book__hold .book__info .book__details p.detail {
  padding-left: 0;
  font-weight: 700;
  color: #110B11;
}

.display .book__hold .book__button {
  width: 60%;
  text-align: center;
  margin: 1.5rem auto;
}

.display .book__hold .book__button .book__link {
  display: block;
  color: #F5F5F5;
  letter-spacing: 1px;
  font-family: "Open Sans", sans-serif;
  padding: 1rem 0;
  text-decoration: none;
  color: #110B11;
  background: #8776ae;
  border-radius: 0.35rem;
  -webkit-transition: all 700ms ease;
  transition: all 700ms ease;
}

.display .book__hold .book__button .book__link:hover {
  background: #341F68;
  color: #F5F5F5;
}
/*# sourceMappingURL=styles.css.map */